{% extends 'base.html.twig' %}

{% block title %}Photos{% endblock %}

{% block body %}
{% for label, messages in app.flashes(['success']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show mt-3" role="alert">
            {{ message }}
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endfor %}
    <div class="container p-5">
        <div class="row row-cols-1 row-cols-md-2 g-0 m-5">
        {% if photos|length > 0 %}
            {% for photo in photos %}
                <div class="card m-3 move" style="width: 20rem;">
                    <a href="{{path('PhotoComments',{'id': photo.id})}}">
                        <img src="{{ asset('images/photos/' ~ photo.imageName ) }}" alt="{{ photo.titre }}" class="card-img-top">
                    </a>  
                    <div class="card-body">
                        <h5 class="card-title">
                            <strong>
                                Titre : 
                            </strong>
                            {{ photo.titre }}
                        </h5>
                        <div class="card-text">
                            <strong>
                                Description :
                            </strong>
                            {{ photo.description }}
                        </div>
                    </div>
                    <a href="{{path("photo_like",{'id': photo.id})}}"class="btn btn-link js-like">
                        {% if app.user and photo.isLikedByUser(app.user) %}
                            <i class="fa fa-thumbs-up in" ></i>
                        {% else %}
                            <i class="fa fa-thumbs-o-up in"></i>
                        {% endif %}
                            <span class="js-likes">{{photo.likes | length}}</span>
                            <span class="js-label">J'aime</span>
                        </a>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12">
                <h4>Aucune photos </h4>         
            </div>           
        {% endif %}
    </div>
    </div>
    
{% endblock %}
{% block javascripts %}
    <script>
            
            if($('.alert').length>0){               
                setTimeout(function(){                    
                    $('.alert').fadeOut(500, function(){$(".alert").remove()});
                },2000);
            }
        </script>
        <script>

        function onClickBtnLike(event){
        event.preventDefault();

        const url = this.href;
        const spanCount = this.querySelector('span.js-likes');
        const icone = this.querySelector('i.in');

        axios.get(url).then(function(response) {
            
            spanCount.textContent = response.data.likes;
            if(icone.classList.contains('fa-thumbs-up')) {

                icone.classList.replace('fa-thumbs-up', 'fa-thumbs-o-up');
            }
            else {
                icone.classList.replace('fa-thumbs-o-up', 'fa-thumbs-up');
            }
        }).catch(function(error){
            if(error.response.status === 403){
                alert("Vous devez etre connecter pour liker une video");
            }else {
                alert("Une erreur s'est produite, réessayez plus tard");
            }
        })
    }


    document.querySelectorAll('a.js-like').forEach(function(link){
        link.addEventListener('click', onClickBtnLike);
    })

    </script>
{% endblock %}

