{% extends 'base.html.twig' %}

{% block title %}Photos{% endblock %}

{% block body %}
{% for label, messages in app.flashes(['success']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show mt-3" role="alert">
            {{ message }}
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endfor %}
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-0 m-5">
        {% if photos|length > 0 %}
            {% for photo in photos %}
                <div class="card m-3 move" style="width: 20rem;">
                    <a href="{{path('PhotoComments',{'id': photo.id})}}">
                        <img src="{{ asset('images/photos/' ~ photo.imageName ) }}" alt="{{ photo.titre }}" class="card-img-top">
                    </a>  
                    <div class="card-body">
                        <h5 class="card-title">
                            <strong>
                                Titre : 
                            </strong>
                            {{ photo.titre }}
                        </h5>
                        <div class="card-text">
                            <strong>
                                Description :
                            </strong>
                            {{ photo.description }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12">
                <h4>Aucune photos </h4>         
            </div>           
        {% endif %}
    </div>
    </div>
    
{% endblock %}
{% block javascripts %}
    <script>
            
            if($('.alert').length>0){               
                setTimeout(function(){                    
                    $('.alert').fadeOut(500, function(){$(".alert").remove()});
                },2000);
            }
        </script>
{% endblock %}

